/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/font-awesome/css/font-awesome.css";
@import './non-responsive.css';


hr {
    border: none;
    height: 1px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

body {
    font-family: Tahoma, Serif;
    margin:0;
    padding-top: 0;
}

md-input-container {
    width: 100%;
}

md-select {
    width: 100%;
}

md-slide-toggle {
    width:100%;
}

.container {
  width: 90%;
}

.section-headline {
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  color: #fff;
  margin: auto;
  text-align: center;
  margin-top: 90px;
}
